<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etong.exchange.preposition.dao.general.LabIndexMapper" >

    <resultMap id="BaseResultMap" type="com.etong.exchange.preposition.entity.LabIndex" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="EXAM_NO" property="examNo" jdbcType="VARCHAR" />
        <result column="REPORT_NO" property="reportNo" jdbcType="VARCHAR" />
        <result column="INDEX_CODE" property="indexCode" jdbcType="VARCHAR" />
        <result column="INDEX_NAME" property="indexName" jdbcType="VARCHAR" />
        <result column="INDEX_RESULT" property="indexResult" jdbcType="VARCHAR" />
        <result column="REFERENCE_RANGE" property="referenceRange" jdbcType="VARCHAR" />
        <result column="MEASURE_UNIT" property="measureUnit" jdbcType="VARCHAR" />
        <result column="UNUSUAL_PROMPT" property="unusualPrompt" jdbcType="VARCHAR" />
        <result column="INSTITUTION_CODE" property="institutionCode" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        ID, EXAM_NO, REPORT_NO, INDEX_CODE, INDEX_NAME, INDEX_RESULT, REFERENCE_RANGE, MEASURE_UNIT, 
        UNUSUAL_PROMPT, INSTITUTION_CODE, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.etong.exchange.preposition.entity.example.LabIndexExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from tb_lab_index
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from tb_lab_index
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from tb_lab_index
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.etong.exchange.preposition.entity.example.LabIndexExample" >
        delete from tb_lab_index
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.etong.exchange.preposition.entity.LabIndex" >
        insert into tb_lab_index (ID, EXAM_NO, REPORT_NO, 
            INDEX_CODE, INDEX_NAME, INDEX_RESULT, 
            REFERENCE_RANGE, MEASURE_UNIT, UNUSUAL_PROMPT, 
            INSTITUTION_CODE, CREATE_TIME, UPDATE_TIME
            )
        values (#{id,jdbcType=VARCHAR}, #{examNo,jdbcType=VARCHAR}, #{reportNo,jdbcType=VARCHAR}, 
            #{indexCode,jdbcType=VARCHAR}, #{indexName,jdbcType=VARCHAR}, #{indexResult,jdbcType=VARCHAR}, 
            #{referenceRange,jdbcType=VARCHAR}, #{measureUnit,jdbcType=VARCHAR}, #{unusualPrompt,jdbcType=VARCHAR}, 
            #{institutionCode,jdbcType=VARCHAR},now(),now()
            )
    </insert>

    <insert id="insertSelective" parameterType="com.etong.exchange.preposition.entity.LabIndex" >
        insert into tb_lab_index
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="examNo != null" >
                EXAM_NO,
            </if>
            <if test="reportNo != null" >
                REPORT_NO,
            </if>
            <if test="indexCode != null" >
                INDEX_CODE,
            </if>
            <if test="indexName != null" >
                INDEX_NAME,
            </if>
            <if test="indexResult != null" >
                INDEX_RESULT,
            </if>
            <if test="referenceRange != null" >
                REFERENCE_RANGE,
            </if>
            <if test="measureUnit != null" >
                MEASURE_UNIT,
            </if>
            <if test="unusualPrompt != null" >
                UNUSUAL_PROMPT,
            </if>
            <if test="institutionCode != null" >
                INSTITUTION_CODE,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="examNo != null" >
                #{examNo,jdbcType=VARCHAR},
            </if>
            <if test="reportNo != null" >
                #{reportNo,jdbcType=VARCHAR},
            </if>
            <if test="indexCode != null" >
                #{indexCode,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null" >
                #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="indexResult != null" >
                #{indexResult,jdbcType=VARCHAR},
            </if>
            <if test="referenceRange != null" >
                #{referenceRange,jdbcType=VARCHAR},
            </if>
            <if test="measureUnit != null" >
                #{measureUnit,jdbcType=VARCHAR},
            </if>
            <if test="unusualPrompt != null" >
                #{unusualPrompt,jdbcType=VARCHAR},
            </if>
            <if test="institutionCode != null" >
                #{institutionCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.etong.exchange.preposition.entity.example.LabIndexExample" resultType="java.lang.Integer" >
        select count(*) from tb_lab_index
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update tb_lab_index
        <set >
            <if test="record.id != null" >
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.examNo != null" >
                EXAM_NO = #{record.examNo,jdbcType=VARCHAR},
            </if>
            <if test="record.reportNo != null" >
                REPORT_NO = #{record.reportNo,jdbcType=VARCHAR},
            </if>
            <if test="record.indexCode != null" >
                INDEX_CODE = #{record.indexCode,jdbcType=VARCHAR},
            </if>
            <if test="record.indexName != null" >
                INDEX_NAME = #{record.indexName,jdbcType=VARCHAR},
            </if>
            <if test="record.indexResult != null" >
                INDEX_RESULT = #{record.indexResult,jdbcType=VARCHAR},
            </if>
            <if test="record.referenceRange != null" >
                REFERENCE_RANGE = #{record.referenceRange,jdbcType=VARCHAR},
            </if>
            <if test="record.measureUnit != null" >
                MEASURE_UNIT = #{record.measureUnit,jdbcType=VARCHAR},
            </if>
            <if test="record.unusualPrompt != null" >
                UNUSUAL_PROMPT = #{record.unusualPrompt,jdbcType=VARCHAR},
            </if>
            <if test="record.institutionCode != null" >
                INSTITUTION_CODE = #{record.institutionCode,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update tb_lab_index
        set ID = #{record.id,jdbcType=VARCHAR},
            EXAM_NO = #{record.examNo,jdbcType=VARCHAR},
            REPORT_NO = #{record.reportNo,jdbcType=VARCHAR},
            INDEX_CODE = #{record.indexCode,jdbcType=VARCHAR},
            INDEX_NAME = #{record.indexName,jdbcType=VARCHAR},
            INDEX_RESULT = #{record.indexResult,jdbcType=VARCHAR},
            REFERENCE_RANGE = #{record.referenceRange,jdbcType=VARCHAR},
            MEASURE_UNIT = #{record.measureUnit,jdbcType=VARCHAR},
            UNUSUAL_PROMPT = #{record.unusualPrompt,jdbcType=VARCHAR},
            INSTITUTION_CODE = #{record.institutionCode,jdbcType=VARCHAR},
            CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.etong.exchange.preposition.entity.LabIndex" >
        update tb_lab_index
        <set >
            <if test="examNo != null" >
                EXAM_NO = #{examNo,jdbcType=VARCHAR},
            </if>
            <if test="reportNo != null" >
                REPORT_NO = #{reportNo,jdbcType=VARCHAR},
            </if>
            <if test="indexCode != null" >
                INDEX_CODE = #{indexCode,jdbcType=VARCHAR},
            </if>
            <if test="indexName != null" >
                INDEX_NAME = #{indexName,jdbcType=VARCHAR},
            </if>
            <if test="indexResult != null" >
                INDEX_RESULT = #{indexResult,jdbcType=VARCHAR},
            </if>
            <if test="referenceRange != null" >
                REFERENCE_RANGE = #{referenceRange,jdbcType=VARCHAR},
            </if>
            <if test="measureUnit != null" >
                MEASURE_UNIT = #{measureUnit,jdbcType=VARCHAR},
            </if>
            <if test="unusualPrompt != null" >
                UNUSUAL_PROMPT = #{unusualPrompt,jdbcType=VARCHAR},
            </if>
            <if test="institutionCode != null" >
                INSTITUTION_CODE = #{institutionCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.etong.exchange.preposition.entity.LabIndex" >
        update tb_lab_index
        set EXAM_NO = #{examNo,jdbcType=VARCHAR},
            REPORT_NO = #{reportNo,jdbcType=VARCHAR},
            INDEX_CODE = #{indexCode,jdbcType=VARCHAR},
            INDEX_NAME = #{indexName,jdbcType=VARCHAR},
            INDEX_RESULT = #{indexResult,jdbcType=VARCHAR},
            REFERENCE_RANGE = #{referenceRange,jdbcType=VARCHAR},
            MEASURE_UNIT = #{measureUnit,jdbcType=VARCHAR},
            UNUSUAL_PROMPT = #{unusualPrompt,jdbcType=VARCHAR},
            INSTITUTION_CODE = #{institutionCode,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>